.experience {
  padding-top: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}

.experience-title {
  padding-top: 18px;
  padding-left: 24px;
  padding-right: 24px;
}

.experience .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
}

.experience .title .heading {
  font-size: 1em !important;
  color: #484848 !important;
}

.experience .subtitle {
  font-size: 19px !important;
  line-height: 24px !important;
  font-weight: 300 !important;
}

img.resize {
  width: 440px;
  height: 440px;
}

.grid {
  display: flex;
  padding-bottom: 16px;
}

.grid-right {
  margin-left: 475px;
}

.grid-left {
  margin-right: 20px;
}

.overview {
}

.overview .section {
  margin-bottom: 16px;
}

.overview .info {
  font-size: 19px !important;
  line-height: 24px;
  font-weight: 300;
  padding-left: 12px;
  display: inline-flex;
  vertical-align: bottom;
}

.description {
  padding-top: 24px;
  padding-bottom: 24px;
}

.description .heading {
  font-weight: normal;
  color: #484848;
  line-height: 24px;
  font-size: 19px;
  margin-bottom: 16px;
}

.description .text {
  font-size: 19px;
  font-weight: 300;
  color: #484848;
}

.heading {
  font-weight: normal;
  color: #484848;
  line-height: 24px;
  font-size: 19px;
  margin-bottom: 16px;
}

.button {
  margin: theme.spacing.unit;
}

.paper {
  margin-left: 24px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  width: 100%;
}

.flight-container {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.info-container {
  text-align: left;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.flight-info {
  margin: 8px;
}

.emph {
  font-size: 40px;
  padding-bottom: 12px;
}

.flight-icon {
  font-size: 135px;
}

.activity {
  width: 100%;
  margin-bottom: 28px;
}

.activity-img {
  width: 150px;
  height: 163px;
  vertical-align:middle
}

.activity .name {
  font-weight: normal;
  color: #484848;
  line-height: 24px;
  font-size: 21px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.activity .desc {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 16px;
  color: #484848;
}

.activity .container {
  display: flex;
}

.activity .info {
  margin: 12px;
}
