.landing {
  height: 100vh;
  /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ), url('../../assets/ny.jpg');*/
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing .app-name {
  color: #cecece;
  font-weight: 500;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0px 0px 9px black;
}

.landing .to {
  color: #cecece;
  font-weight: 400;
  text-align: center;
  font-size: 2rem;
  text-shadow: 0px 0px 9px black;
}

/*.datePicker {*/
  /**/
/*}*/

.datePicker2 {
  margin-left: 140px;
}

.react-date-picker__button__input {
  color: white;
  text-color: white;
  font-weight: 400;
  font-size: 2rem;
  /*border-bottom: 1px solid #fff;*/
  /*background: rgba(200, 200, 200, 0.0);*/
  /*transition: width 0.5s;*/
}

.react-date-picker__button {
  border: 0 none;
}

.react-date-picker__button__icon svg {
  fill: white;
  opacity: 0;
}

.react-date-picker__button__input__divider {
  border-bottom: 3px solid #fff;
}

.react-date-picker__button__input__input {
  border-bottom: 3px solid #fff;
}



.landing .input {
  height: 5vh;
  color: white;
  font-weight: 400;
  text-align: center;
  margin-top: 20vh;
  font-size: 2rem;
  border-bottom: 3px solid #fff;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 0 none;
  background: rgba(200, 200, 200, 0.0);
  transition: width 0.5s;
}

input:focus {outline: none; }

::placeholder {
  margin-bottom: 8vh;
  font-weight: 200;
  color: #c3c3c3;
}
